#signUpForm {
	display: flex;
	flex-direction: column;
	width:50%;
	margin-left: auto;
	
	margin-right: auto;
}
#signUpForm > input {
	margin-top: 8px;
	border-radius: 6px;
	border-color: black;
	border-width: 1px;
	
	margin-left: auto;
	margin-right: auto;
}
#submitSignUp {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 126, 6);
	color: white;
	min-width: 75px;
	max-width: 100px;
}
#submitSignUp:hover {
	background-color: rgb(17, 17, 168);;
}
#signUpH2 {
	text-align: center;
	margin-top: 0px;
}
#signUpH2 > a {
	text-decoration: none;
	color: rgb(255, 126, 6);
}
#signUpP {
	text-align: center;
	color: white
}
#signUpP > a {
	text-decoration: none;
	color: rgb(255, 126, 6);
}
#signUpP > a:hover {
	color: darkblue;
}
#signUpH2 > a:hover {
	color: darkblue;
}
#errorMessage {
	color: red;
	background-color: rgba(59, 59, 59, 0.465);
	text-align: center;
}
@media only screen and (min-width: 700px) {
    #signUpH2 {
		padding-top: 200px;
		font-size: 30px;
	}
	#signUpP {
		font-size: 20px;
	}
	#signUpForm {
		font-size: 30px;
	}
}